In [2]:
from bancor_research import DEFAULT
import pandas as pd
from bancor_research.bancor_simulator.v3.spec import BancorDapp

In [3]:
DEFAULT_TRADING_FEE = DEFAULT.TRADING_FEE
DEFAULT_BNT_FUNDING_LIMIT = DEFAULT.BNT_FUNDING_LIMIT
PRICE_FEEDS_PATH = DEFAULT.PRICE_FEEDS_PATH

In [4]:
price_feed = pd.read_parquet(PRICE_FEEDS_PATH)
price_feed

,indx,bat,bnt,dai,enj,link,mana,matic,mkr,mln,ocean,omg,ren,rsr,usdc,usdt,wbtc,eth
0,0,0.182214,0.372701,1.008796,0.063398,2.20,0.034675,0.015172,492.57,4.02,0.018389,1.176558,0.081889,0.002620,1.002780,1.002638,9956.32,185.65
1,1,0.182214,0.372701,1.008796,0.063398,2.20,0.034675,0.015172,492.57,4.02,0.018389,1.176558,0.081889,0.002620,1.002780,1.002638,9956.32,185.65
2,2,0.182214,0.372701,1.008796,0.063398,2.20,0.034675,0.015172,492.57,4.02,0.018389,1.176558,0.081889,0.002620,1.002780,1.002638,9956.32,185.65
3,3,0.182195,0.385374,1.010015,0.063418,2.20,0.034666,0.015118,493.42,4.02,0.018423,1.176224,0.082005,0.002614,1.002988,1.002065,9972.69,185.78
4,4,0.182195,0.385374,1.010015,0.063418,2.20,0.034666,0.015118,493.42,4.02,0.018423,1.176224,0.082005,0.002614,1.002988,1.002065,9972.69,185.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1052506,1052506,0.786363,4.260000,0.999664,1.860000,28.01,0.890839,1.630000,3825.03,93.38,0.971470,6.210000,0.611442,0.048066,1.000561,1.001124,48694.03,3231.03
1052507,1052507,0.786363,4.260000,0.999664,1.860000,28.01,0.890839,1.630000,3825.03,93.38,0.971470,6.210000,0.611442,0.048066,1.000561,1.001124,48694.03,3231.03
1052508,1052508,0.786363,4.260000,0.999664,1.860000,28.01,0.890839,1.630000,3825.03,93.38,0.971470,6.210000,0.611442,0.048066,1.000561,1.001124,48694.03,3231.03
1052509,1052509,0.785455,4.260000,0.999836,1.870000,27.99,0.887993,1.630000,3817.94,93.13,0.974647,6.220000,0.611192,0.048178,0.999534,1.000742,48696.27,3228.71
1052510,1052510,0.785455,4.260000,0.999836,1.870000,27.99,0.887993,1.630000,3817.94,93.13,0.974647,6.220000,0.611192,0.048178,0.999534,1.000742,48696.27,3228.71

In [5]:
price_feed_tokens = price_feed.T
price_feed_tokens = price_feed_tokens.reset_index().rename({'index':'tkn_name'}, axis=1)
price_feed_tokens = price_feed_tokens['tkn_name'].unique()

In [6]:
historical_actions = pd.read_csv('data/historical_actions.csv')
historical_actions['timestep'] = [i for i in range(len(historical_actions))]

simulation_tokens = historical_actions['poolSymbol'].unique()

simulation_tokens = [tkn for tkn in simulation_tokens if tkn in price_feed_tokens]
historical_actions

,user_id,blocknumber,time,timestamp,poolSymbol,tokenAmount_real,tokenAmount_real_usd,targetSymbol,event_name,timestep
0,0xb0B958398ABB0b5DB4ce4d7598Fb868f5A00f372,14611842,2022-04-18 22:38:30+00:00,1650321510,eth,NaN,NaN,NaN,deposit,0
1,0xb0B958398ABB0b5DB4ce4d7598Fb868f5A00f372,14611854,2022-04-18 22:40:44+00:00,1650321644,eth,NaN,NaN,NaN,deposit,1
2,0xb0B958398ABB0b5DB4ce4d7598Fb868f5A00f372,14611870,2022-04-18 22:43:01+00:00,1650321781,dai,NaN,NaN,NaN,deposit,2
3,0xb0B958398ABB0b5DB4ce4d7598Fb868f5A00f372,14611880,2022-04-18 22:45:09+00:00,1650321909,dai,NaN,NaN,NaN,deposit,3
4,0xb0B958398ABB0b5DB4ce4d7598Fb868f5A00f372,14611897,2022-04-18 22:49:18+00:00,1650322158,eth,NaN,NaN,NaN,deposit,4
...,...,...,...,...,...,...,...,...,...,...
39855,0x7e84638EfcF13bb710D591048532AB09990B7c4a,15304180,2022-08-08 22:11:43+00:00,1659996703,psp,8007.191743,0.000000,NaN,deposit,39855
39856,0x7e84638EfcF13bb710D591048532AB09990B7c4a,15304199,2022-08-08 22:15:42+00:00,1659996942,psp,8007.191743,0.000000,NaN,withdraw_initiated,39856
39857,0x7e84638EfcF13bb710D591048532AB09990B7c4a,15304206,2022-08-08 22:16:36+00:00,1659996996,psp,8007.191743,0.000000,NaN,withdraw_completed,39857
39858,0xf3Db3e79cD7dd756d4BABAC4B7D64003fe4B33fA,15304602,2022-08-08 23:40:06+00:00,1660002006,link,234.392076,1945.021066,NaN,withdraw_initiated,39858
39859,0xf3Db3e79cD7dd756d4BABAC4B7D64003fe4B33fA,15304607,2022-08-08 23:40:53+00:00,1660002053,link,234.392076,1945.021066,NaN,withdraw_completed,39859

In [7]:
event_names = list(set([i for i in historical_actions['event_name'].values]))
event_names

['trade',
 'withdraw_pending',
 'deposit',
 'withdraw_canceled',
 'withdraw_completed',
 'withdraw_initiated']

In [8]:
filepath = 'https://bancorml.s3.us-east-2.amazonaws.com/preprocessed_tradingliquidity_vs_deficit-3.csv'
fees_vs_liquidity = pd.read_csv(filepath)

# Limit tokens to only those where we have data available:
fee_tokens = fees_vs_liquidity['targetSymbol'].unique()
simulation_tokens = [tkn for tkn in simulation_tokens if tkn in fee_tokens]
fees_vs_liquidity

,date,targetSymbol,trade_count,sourceAmount_real,sourceAmount_real_usd,targetAmount_real,targetAmount_real_usd,trade_revenue_real,trade_revenue_usd,bntprice,...,surplus_bnt,surplus_usd,surplus_perc,tknTradingLiquidity_real,bntTradingLiquidity_real,spotRate,price,liquidity_real,stakedBalance_real,poolTokenSupply_real
0,2022-04-20,dai,3,0.003000,9.176236,9.205342,9.140794,0.018448,0.018318,2.296663,...,-4.026950e+00,-9.248547e+00,-0.000054,9.161156e+04,4.000805e+04,0.436714,2.2900,1.718604e+05,1.718697e+05,1.718697e+05
1,2022-04-22,dai,2,0.202159,601.632956,618.054738,601.526021,1.238587,1.205463,2.231059,...,-2.744009e+02,-6.122045e+02,-0.001828,3.202751e+05,1.404095e+05,0.438403,2.2200,3.437408e+05,3.437500e+05,3.437500e+05
2,2022-04-25,eth,1,1628.103621,3614.390039,1.217790,3649.399144,0.002440,7.313425,2.190786,...,-2.076344e+02,-4.548826e+02,-0.001337,1.039690e+02,1.403459e+05,1349.882510,2.2200,1.169769e+02,1.159120e+02,1.159120e+02
3,2022-04-26,dai,3,7525.703648,15846.229453,16368.808603,15957.237984,32.803224,31.978433,2.214641,...,-9.493450e+03,-2.102459e+04,-0.030559,6.197640e+05,2.918862e+05,0.470963,2.0700,6.828865e+05,6.875000e+05,6.874721e+05
4,2022-04-26,eth,1,2403.614895,5071.627429,1.801257,5103.502330,0.003610,10.227460,2.214641,...,1.827579e+03,4.047433e+03,0.005718,2.187025e+02,2.888900e+05,1320.926933,2.0700,2.388591e+02,2.390141e+02,2.390098e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,2022-07-13,ren,3,1768.630143,1315.906537,11368.242105,1331.755493,22.782048,2.668849,0.439336,...,-7.788998e+03,-3.421986e+03,-0.074199,3.650763e+05,9.888587e+04,0.270864,0.4518,3.654831e+05,3.943198e+05,3.938701e+05
573,2022-07-13,usdc,11,12820.582315,39171.489157,40310.194464,40287.308795,407.173676,406.942508,0.439336,...,-2.915052e+06,-1.280687e+06,-0.538241,9.223219e+05,2.044195e+06,2.216357,0.4518,1.112240e+06,2.450837e+06,2.447838e+06
574,2022-07-13,vbnt,13,17417.396004,17347.157459,49549.095840,17188.881593,754.554759,261.759618,0.439336,...,-4.785695e+04,-2.102528e+04,-0.015282,1.550398e+06,1.250088e+06,0.806302,0.4518,3.851069e+06,3.906057e+06,3.889583e+06
575,2022-07-13,wbtc,8,77132.736065,40043.358891,2.075963,39984.699361,0.004160,80.128950,0.439336,...,-7.133886e+06,-3.134172e+06,-0.483749,1.746781e+02,7.624048e+06,43646.270867,0.4518,1.746781e+02,3.378767e+02,3.378000e+02
576,2022-07-13,zcn,3,2857.359303,1643.043365,8442.390858,1667.280439,42.424075,8.378294,0.439336,...,-2.432456e+05,-1.068665e+05,-0.655215,2.875819e+05,1.280001e+05,0.445091,0.4518,2.875819e+05,8.340895e+05,8.329419e+05

In [9]:
fees_vs_liquidity['tknTradingLiquidity_real_bnt'] = fees_vs_liquidity['tknTradingLiquidity_real'] * fees_vs_liquidity['price']

In [10]:
# For 7 day rolling averages
fees_vs_liquidity['trade_revenue_real_rolling_7day_avg'] =  fees_vs_liquidity.groupby(['date', 'targetSymbol'])['trade_revenue_real'].rolling(7, min_periods=1).mean().reset_index(drop=True)
fees_vs_liquidity['trade_revenue_usd_rolling_7day_avg'] = fees_vs_liquidity.groupby(['date', 'targetSymbol'])['trade_revenue_usd'].rolling(7, min_periods=1).mean().reset_index(drop=True)

# For 30 day rolling averages
fees_vs_liquidity['trade_revenue_real_rolling_30day_avg'] = fees_vs_liquidity.groupby(['date', 'targetSymbol'])['trade_revenue_real'].rolling(30, min_periods=1).mean().reset_index(drop=True)
fees_vs_liquidity['trade_revenue_usd_rolling_30day_avg'] = fees_vs_liquidity.groupby(['date', 'targetSymbol'])['trade_revenue_usd'].rolling(30, min_periods=1).mean().reset_index(drop=True)

In [11]:
simulation_tokens_count = len(simulation_tokens)
simulation_tokens_count

11

In [12]:
simulation_tokens

['eth',
 'dai',
 'link',
 'bat',
 'usdc',
 'ren',
 'wbtc',
 'enj',
 'mkr',
 'matic',
 'mana']

In [13]:

l=[]
SIMULATION_WHITELIST = {}

for token_symbol in simulation_tokens:

    tkn_stats = {}

    fee_multiple = 550

    tkn_stats['token_symbol'] = [token_symbol]
    SIMULATION_WHITELIST[token_symbol] = {}
    SIMULATION_WHITELIST[token_symbol]['trading_fee'] = DEFAULT_TRADING_FEE
    SIMULATION_WHITELIST[token_symbol]['bnt_funding_limit'] = DEFAULT_BNT_FUNDING_LIMIT

#     tkn_stats['fee_multiple'] = [fee_multiple]
#
#     latest_date = fees_vs_liquidity[fees_vs_liquidity['targetSymbol']==token_symbol].sort_values('date', ascending=False)['date'].values[0]
#
#     latest_price = fees_vs_liquidity[fees_vs_liquidity['targetSymbol']==token_symbol].sort_values('date', ascending=False)['price'].values[0]
#
#     tkn_stats['latest_date'] = [latest_date]
#
#     tkn_stats['oncurve_liquidity'] = [int(round(fees_vs_liquidity[(fees_vs_liquidity['date']==latest_date) & (fees_vs_liquidity['targetSymbol']==token_symbol)]['tknTradingLiquidity_real'].values[0]))]
#
#     tkn_stats['rolling_30day_real_avg'] = [fees_vs_liquidity[(fees_vs_liquidity['date']==latest_date) & (fees_vs_liquidity['targetSymbol']==token_symbol)]['trade_revenue_real_rolling_30day_avg'].values[0]]
#
#     tkn_stats['estimated_7day_fees_real'] = [tkn_stats['rolling_30day_real_avg'][0] * 7]
#
#     tkn_stats['proposed_liquidity_limit'] = [tkn_stats['estimated_7day_fees_real'][0] * fee_multiple]
#
#     tkn_stats['proposed_liquidity_limit_bnt'] = [tkn_stats['proposed_liquidity_limit'][0] * latest_price]
#
#     SIMULATION_WHITELIST[token_symbol]['bnt_funding_limit'] = tkn_stats['proposed_liquidity_limit_bnt'][0]
#
#     tkn_stats = pd.DataFrame(tkn_stats)
#
#     l.append(tkn_stats)
#
# all_tkn_stats = pd.concat(l)
# all_tkn_stats

In [14]:
SIMULATION_WHITELIST

{'eth': {'trading_fee': '1%', 'bnt_funding_limit': '1000000'},
 'dai': {'trading_fee': '1%', 'bnt_funding_limit': '1000000'},
 'link': {'trading_fee': '1%', 'bnt_funding_limit': '1000000'},
 'bat': {'trading_fee': '1%', 'bnt_funding_limit': '1000000'},
 'usdc': {'trading_fee': '1%', 'bnt_funding_limit': '1000000'},
 'ren': {'trading_fee': '1%', 'bnt_funding_limit': '1000000'},
 'wbtc': {'trading_fee': '1%', 'bnt_funding_limit': '1000000'},
 'enj': {'trading_fee': '1%', 'bnt_funding_limit': '1000000'},
 'mkr': {'trading_fee': '1%', 'bnt_funding_limit': '1000000'},
 'matic': {'trading_fee': '1%', 'bnt_funding_limit': '1000000'},
 'mana': {'trading_fee': '1%', 'bnt_funding_limit': '1000000'}}

In [15]:
all_tokens = simulation_tokens + ['bnt']
user_initial_balances = historical_actions[
    ['user_id','poolSymbol','tokenAmount_real_usd']].groupby(['user_id','poolSymbol']).sum()
user_initial_balances = user_initial_balances.reset_index()
user_initial_balances = user_initial_balances[user_initial_balances['poolSymbol'].isin(all_tokens)]
user_initial_balances

,user_id,poolSymbol,tokenAmount_real_usd
0,0x00000000C2Cf7648c169b25ef1C217864bFa38cC,bnt,315553.303525
1,0x00000000C2Cf7648c169b25ef1C217864bFa38cC,dai,45316.051077
2,0x00000000C2Cf7648c169b25ef1C217864bFa38cC,enj,5623.933164
3,0x00000000C2Cf7648c169b25ef1C217864bFa38cC,eth,945282.867953
4,0x00000000C2Cf7648c169b25ef1C217864bFa38cC,link,462531.289358
...,...,...,...
8073,0xfeBe1d1ec117c4F987E2212b892c8EB49f655bb2,usdc,397.227950
8075,0xff52b9E2846388413D185373453cc88603aD86cD,bnt,55.304482
8076,0xff52b9E2846388413D185373453cc88603aD86cD,eth,23694.444669
8078,0xff914CAeCc4B7e8113e4CA44D5735293205d01b9,bnt,482.438741
8081,0xffC7150325e03b36C7d13f4af63885A7599f1b34,bnt,479.412655

In [16]:
user_initial_balances.to_csv('data/user_initial_balances.csv')

In [15]:
from decimal import Decimal
from bancor_research.bancor_simulator.v3.spec import Token, get_pooltoken_name

v3 = BancorDapp(whitelisted_tokens=SIMULATION_WHITELIST, price_feeds=price_feed)

for user_id in user_initial_balances['user_id'].unique():
    v3.create_user(user_id)

    user_balances = user_initial_balances[user_initial_balances['user_id']==user_id]
    for tkn_name in user_balances['poolSymbol'].unique():

        user_balance = user_balances[user_balances['poolSymbol']==tkn_name]['tokenAmount_real_usd'].values[0]
        if tkn_name not in v3.global_state.users[user_id].wallet:
            v3.global_state.users[user_id].wallet[tkn_name] = Token(balance=user_balance)

        pooltkn_name = get_pooltoken_name(tkn_name)
        if pooltkn_name not in v3.global_state.users[user_id].wallet:
            v3.global_state.users[user_id].wallet[pooltkn_name] = Token(
                balance=Decimal('0')
            )

In [16]:
v3.describe(decimals=4)

                                                         bnt     eth     dai  \
1 Account 0x00000000C2Cf7648c169b25ef1C217864bFa38cC     NaN     NaN     NaN
          0x0000000484f2217f1A64Eb6d24b5CEe446FaEAe5     NaN     NaN     NaN
          0x00008818c0EDb78F98184F01B4cB483F0044D990     NaN     NaN     NaN
          0x0000E0Ca771e21bD00057F54A68C30D400000000     NaN     NaN     NaN
          0x00257e9544A1a406C98c6115a5698da2c098e989     NaN     NaN     NaN
...                                                      ...     ...     ...
2 Pool    g: Average Inverse Rate                        NaN  0.0000  0.0000
3 Network Master Vault                                0.0000  0.0000  0.0000
          Protection Vault                            0.0000  0.0000  0.0000
          Protocol Equity                                NaN     NaN     NaN
          Rewards Vault                                  NaN     NaN     NaN

                                                        link     bat    usdc  \
1 Account 0x00000000C2Cf7648c169b25ef1C217864bFa38cC     NaN     NaN     NaN
          0x0000000484f2217f1A64Eb6d24b5CEe446FaEAe5     NaN     NaN     NaN
          0x00008818c0EDb78F98184F01B4cB483F0044D990     NaN     NaN     NaN
          0x0000E0Ca771e21bD00057F54A68C30D400000000     NaN     NaN     NaN
          0x00257e9544A1a406C98c6115a5698da2c098e989     NaN     NaN     NaN
...                                                      ...     ...     ...
2 Pool    g: Average Inverse Rate                     0.0000  0.0000  0.0000
3 Network Master Vault                                0.0000  0.0000  0.0000
          Protection Vault                            0.0000  0.0000  0.0000
          Protocol Equity                                NaN     NaN     NaN
          Rewards Vault                                  NaN     NaN     NaN

                                                         ren    wbtc     enj  \
1 Account 0x00000000C2Cf7648c169b25ef1C217864bFa38cC     NaN     NaN     NaN
          0x0000000484f2217f1A64Eb6d24b5CEe446FaEAe5     NaN     NaN     NaN
          0x00008818c0EDb78F98184F01B4cB483F0044D990     NaN     NaN     NaN
          0x0000E0Ca771e21bD00057F54A68C30D400000000     NaN     NaN     NaN
          0x00257e9544A1a406C98c6115a5698da2c098e989     NaN     NaN     NaN
...                                                      ...     ...     ...
2 Pool    g: Average Inverse Rate                     0.0000  0.0000  0.0000
3 Network Master Vault                                0.0000  0.0000  0.0000
          Protection Vault                            0.0000  0.0000  0.0000
          Protocol Equity                                NaN     NaN     NaN
          Rewards Vault                                  NaN     NaN     NaN

                                                         mkr  ...  bnlink  \
1 Account 0x00000000C2Cf7648c169b25ef1C217864bFa38cC     NaN  ...     NaN
          0x0000000484f2217f1A64Eb6d24b5CEe446FaEAe5     NaN  ...     NaN
          0x00008818c0EDb78F98184F01B4cB483F0044D990     NaN  ...     NaN
          0x0000E0Ca771e21bD00057F54A68C30D400000000     NaN  ...     NaN
          0x00257e9544A1a406C98c6115a5698da2c098e989     NaN  ...     NaN
...                                                      ...  ...     ...
2 Pool    g: Average Inverse Rate                     0.0000  ...     NaN
3 Network Master Vault                                0.0000  ...     NaN
          Protection Vault                            0.0000  ...     NaN
          Protocol Equity                                NaN  ...  0.0000
          Rewards Vault                                  NaN  ...  0.0000

                                                       bnbat  bnusdc   bnren  \
1 Account 0x00000000C2Cf7648c169b25ef1C217864bFa38cC     NaN     NaN     NaN
          0x0000000484f2217f1A64Eb6d24b5CEe446FaEAe5     NaN     NaN     NaN
          0x00008818c0EDb78F98184F01B4cB483F0044D990     NaN     NaN     NaN
          0x0000E0Ca771e21bD00057F54A68C30D400000000     NaN     NaN     NaN
          0x00257e9544A1a406C98c6115a5698da2c098e989     NaN     NaN     NaN
...                                                      ...     ...     ...
2 Pool    g: Average Inverse Rate                        NaN     NaN     NaN
3 Network Master Vault                                   NaN     NaN     NaN
          Protection Vault                               NaN     NaN     NaN
          Protocol Equity                             0.0000  0.0000  0.0000
          Rewards Vault                               0.0000  0.0000  0.0000

                                                      bnwbtc   bnenj   bnmkr  \
1 Account 0x00000000C2Cf7648c169b25ef1C217864bFa38cC     NaN     NaN     NaN
          0x0000000484f2217f1A64Eb6d24b5CEe446FaEAe5     NaN     NaN     NaN
          0x00008818c0EDb78F98184F01B4cB483F0044D990     NaN     NaN     NaN
          0x0000E0Ca771e21bD00057F54A68C30D400000000     NaN     NaN     NaN
          0x00257e9544A1a406C98c6115a5698da2c098e989     NaN     NaN     NaN
...                                                      ...     ...     ...
2 Pool    g: Average Inverse Rate                        NaN     NaN     NaN
3 Network Master Vault                                   NaN     NaN     NaN
          Protection Vault                               NaN     NaN     NaN
          Protocol Equity                             0.0000  0.0000  0.0000
          Rewards Vault                               0.0000  0.0000  0.0000

                                                     bnmatic  bnmana vbnt
1 Account 0x00000000C2Cf7648c169b25ef1C217864bFa38cC     NaN     NaN  NaN
          0x0000000484f2217f1A64Eb6d24b5CEe446FaEAe5     NaN     NaN  NaN
          0x00008818c0EDb78F98184F01B4cB483F0044D990     NaN     NaN  NaN
          0x0000E0Ca771e21bD00057F54A68C30D400000000     NaN     NaN  NaN
          0x00257e9544A1a406C98c6115a5698da2c098e989     NaN     NaN  NaN
...                                                      ...     ...  ...
2 Pool    g: Average Inverse Rate                        NaN     NaN  NaN
3 Network Master Vault                                   NaN     NaN  NaN
          Protection Vault                               NaN     NaN  NaN
          Protocol Equity                             0.0000  0.0000  NaN
          Rewards Vault                               0.0000  0.0000  NaN

[4202 rows x 25 columns]

In [17]:
historical_actions = historical_actions[historical_actions['user_id'].isin(user_initial_balances['user_id'].unique())]
historical_actions = historical_actions[historical_actions['poolSymbol'].isin(all_tokens)]
historical_actions

,user_id,blocknumber,time,timestamp,poolSymbol,tokenAmount_real,tokenAmount_real_usd,targetSymbol,event_name,timestep
0,0xb0B958398ABB0b5DB4ce4d7598Fb868f5A00f372,14611842,2022-04-18 22:38:30+00:00,1650321510,eth,NaN,NaN,NaN,deposit,0
1,0xb0B958398ABB0b5DB4ce4d7598Fb868f5A00f372,14611854,2022-04-18 22:40:44+00:00,1650321644,eth,NaN,NaN,NaN,deposit,1
2,0xb0B958398ABB0b5DB4ce4d7598Fb868f5A00f372,14611870,2022-04-18 22:43:01+00:00,1650321781,dai,NaN,NaN,NaN,deposit,2
3,0xb0B958398ABB0b5DB4ce4d7598Fb868f5A00f372,14611880,2022-04-18 22:45:09+00:00,1650321909,dai,NaN,NaN,NaN,deposit,3
4,0xb0B958398ABB0b5DB4ce4d7598Fb868f5A00f372,14611897,2022-04-18 22:49:18+00:00,1650322158,eth,NaN,NaN,NaN,deposit,4
...,...,...,...,...,...,...,...,...,...,...
39849,0x0420249d936BDcc65c6304a38169bf4F3A248b04,15303540,2022-08-08 19:50:12+00:00,1659988212,eth,1.520864,2610.608677,NaN,withdraw_canceled,39849
39850,0x35A5B48D079B48fEBE6dA662b66f5d1C80ef0a45,15303596,2022-08-08 20:02:46+00:00,1659988966,link,1501.139614,12456.684640,NaN,withdraw_initiated,39850
39851,0x35A5B48D079B48fEBE6dA662b66f5d1C80ef0a45,15303596,2022-08-08 20:02:46+00:00,1659988966,link,1501.139614,12456.684640,NaN,withdraw_pending,39851
39858,0xf3Db3e79cD7dd756d4BABAC4B7D64003fe4B33fA,15304602,2022-08-08 23:40:06+00:00,1660002006,link,234.392076,1945.021066,NaN,withdraw_initiated,39858
39859,0xf3Db3e79cD7dd756d4BABAC4B7D64003fe4B33fA,15304607,2022-08-08 23:40:53+00:00,1660002053,link,234.392076,1945.021066,NaN,withdraw_completed,39859

In [18]:
event_names = list(set([i for i in historical_actions['event_name'].values]))
event_names

['deposit',
 'withdraw_canceled',
 'withdraw_completed',
 'withdraw_initiated',
 'withdraw_pending',
 'trade']

In [19]:
withdrawals_initiated = {}
logger = []
n = len(historical_actions)
# n = 5

for action_count in range(n):

    user_id = historical_actions['user_id'].values[action_count]
    timestamp = historical_actions['timestep'].values[action_count]
    tkn_name = historical_actions['poolSymbol'].values[action_count]
    tkn_amt = historical_actions['tokenAmount_real'].values[action_count]
    event_name = historical_actions['event_name'].values[action_count]
    target_name = historical_actions['targetSymbol'].values[action_count]

    try:
        if event_name == 'trade':
            v3.trade(tkn_amt=tkn_amt,
                     source_token=tkn_name,
                     target_token=target_name,
                     user_name=user_id,
                     timestamp=timestamp)

        elif event_name == 'deposit':
            v3.deposit(tkn_amt=tkn_amt,
                       tkn_name=tkn_name,
                       user_name=user_id,
                       timestamp=timestamp)

        elif event_name == 'withdraw_initiated':
            withdraw_id = v3.begin_cooldown(tkn_amt=tkn_amt,
                                            tkn_name=tkn_name,
                                            user_name=user_id,
                                            timestamp=timestamp)

            if user_id not in withdrawals_initiated:
                withdrawals_initiated['user_id'] = []

            withdrawals_initiated['user_id'].append({
                'tkn_name':tkn_name,
                'tkn_amt':tkn_amt,
                'timestamp':timestamp,
                'withdraw_id': withdraw_id
            })

        elif event_name == 'withdraw_completed':
            withdraw_id = None
            user_withdrawals = withdrawals_initiated[user_id]

            for cooldown in user_withdrawals:
                if cooldown['tkn_name']==tkn_name:
                    withdraw_id = cooldown['withdraw_id']

            if withdraw_id is not None:
                v3.withdraw(user_name=user_id,
                            id_number=withdraw_id,
                            timestamp=timestamp)

        elif event_name == 'withdraw_canceled':
            withdraw_id = None
            user_withdrawals = withdrawals_initiated[user_id]
            updated_user_withdrawals = []

            for cooldown in user_withdrawals:
                if cooldown['tkn_name']==tkn_name: withdraw_id = cooldown['withdraw_id']
                else: updated_user_withdrawals.append(cooldown)

            withdrawals_initiated[user_id] = updated_user_withdrawals

        if not v3.global_state.tokens[tkn_name].is_trading_enabled:
            v3.enable_trading(tkn_name=tkn_name, timestamp=timestamp)

        df = v3.describe(decimals=4, users = False)
        df['timestamp'] = [timestamp for _ in range(len(df))]
        df = df.reset_index()
        df = df[df['level_0'] > 1]
        logger.append(df)

    except:
        pass

Bootstrap requirements met for wbtc
Bootstrap requirements met for usdc
Bootstrap requirements met for bnt
Bootstrap requirements met for link
Bootstrap requirements met for dai
Bootstrap requirements met for bat
Bootstrap requirements met for link
Bootstrap requirements met for link
Bootstrap requirements met for eth
Bootstrap requirements met for link
Bootstrap requirements met for enj
Bootstrap requirements met for link
Bootstrap requirements met for eth
Bootstrap requirements met for link
Bootstrap requirements met for link
Bootstrap requirements met for link
Bootstrap requirements met for dai
Bootstrap requirements met for ren
Bootstrap requirements met for mkr
Bootstrap requirements met for mana
Bootstrap requirements met for matic

In [20]:
log_df = pd.concat(logger)
log_df

,level_0,level_1,level_2,bnt,eth,dai,link,bat,usdc,ren,...,bnbat,bnusdc,bnren,bnwbtc,bnenj,bnmkr,bnmatic,bnmana,vbnt,timestamp
0,2,Pool,a: TKN Staked Balance,NaN,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2,Pool,b: TKN Trading Liquidity,NaN,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,Pool,c: BNT Trading Liquidity,NaN,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2,Pool,d: BNT Current Funding,NaN,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,2,Pool,e: Spot Rate,NaN,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,2,Pool,g: Average Inverse Rate,NaN,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39858
7,3,Network,Master Vault,-507645.1931,6835.5312,4756744.9549,942902.2285,2356012.1221,5071693.6223,840464.6489,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39858
8,3,Network,Protection Vault,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39858
9,3,Network,Protocol Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,39858
10,3,Network,Rewards Vault,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,39858

In [21]:
log_df.to_parquet('data/logging_baseline.parquet', compression='gzip')

In [22]:
nl=[]
l = [log_df[['level_2','timestamp',tkn]] for tkn in simulation_tokens]
for dfx in l:
    tkn_name = dfx.columns[-1]
    dfx['tkn_name'] = [tkn_name for _ in range(len(dfx))]
    dfx = dfx.rename({tkn_name:'amount', 'level_2':'name'}, axis=1)
    dfx = dfx.sort_values(['tkn_name', 'timestamp', 'name'])
    dfx = dfx[['timestamp', 'tkn_name', 'name', 'amount']]
    nl.append(dfx)

output = pd.concat(nl)
output

/Users/mikewcasale/miniforge3/envs/bancor_research_env/lib/python3.8/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

    timestamp tkn_name                      name      amount
7           0      eth              Master Vault      0.0000
8           0      eth          Protection Vault      0.0000
9           0      eth           Protocol Equity         NaN
10          0      eth             Rewards Vault         NaN
0           0      eth     a: TKN Staked Balance      0.0000
..        ...      ...                       ...         ...
2       39858     mana  c: BNT Trading Liquidity  66271.8109
3       39858     mana    d: BNT Current Funding  20279.4316
4       39858     mana              e: Spot Rate      1.0027
5       39858     mana           f: Average Rate      1.1219
6       39858     mana   g: Average Inverse Rate      0.0000

[3236266 rows x 4 columns]

In [23]:
output.to_parquet('data/baseline.parquet', compression='gzip')

In [1]:
output

NameError: name 'output' is not defined