In [9]:
from bancor_research.bancor_simulator.v3.spec.network import *

v3 = BancorDapp()

In [10]:
user_name = 'Alice'

tkn_name = 'tkn'
bnt_name = 'bnt'

tkn_amt = 1000000000
bnt_amt = 1000000

v3.set_user_balance(user_name, tkn_name, tkn_amt)
v3.set_user_balance(user_name, bnt_name, bnt_amt)

In [11]:
timestamp = 14
v3.deposit(tkn_name=tkn_name, tkn_amt='1000', user_name=user_name, timestamp=timestamp)
v3.describe(decimals=6)

                                         eth      link               tkn  \
1 Account Alice                          NaN       NaN  999999000.000000
2 Pool    a: TKN Staked Balance     0.000000  0.000000       1000.000000
          b: TKN Trading Liquidity  0.000000  0.000000          0.000000
          c: BNT Trading Liquidity  0.000000  0.000000          0.000000
          d: BNT Current Funding    0.000000  0.000000          0.000000
          e: Spot Rate              0.000000  0.000000          0.000000
          f: Average Rate           0.000000  0.000000          0.000000
          g: Average Inverse Rate   0.000000  0.000000          0.000000
3 Network Master Vault              0.000000  0.000000       1000.000000
          Protection Vault          0.000000  0.000000          0.000000
          Protocol Equity                NaN       NaN               NaN
          Rewards Vault                  NaN       NaN               NaN

                                        wbtc             bnt     bneth  \
1 Account Alice                          NaN  1000000.000000       NaN
2 Pool    a: TKN Staked Balance     0.000000             NaN  0.000000
          b: TKN Trading Liquidity  0.000000             NaN  0.000000
          c: BNT Trading Liquidity  0.000000             NaN  0.000000
          d: BNT Current Funding    0.000000             NaN  0.000000
          e: Spot Rate              0.000000             NaN  0.000000
          f: Average Rate           0.000000             NaN  0.000000
          g: Average Inverse Rate   0.000000             NaN  0.000000
3 Network Master Vault              0.000000             NaN       NaN
          Protection Vault          0.000000             NaN       NaN
          Protocol Equity                NaN             NaN  0.000000
          Rewards Vault                  NaN             NaN  0.000000

                                      bnlink        bntkn    bnwbtc
1 Account Alice                          NaN  1000.000000       NaN
2 Pool    a: TKN Staked Balance     0.000000     0.000000  0.000000
          b: TKN Trading Liquidity  0.000000     0.000000  0.000000
          c: BNT Trading Liquidity  0.000000     0.000000  0.000000
          d: BNT Current Funding    0.000000     0.000000  0.000000
          e: Spot Rate              0.000000     0.000000  0.000000
          f: Average Rate           0.000000     0.000000  0.000000
          g: Average Inverse Rate   0.000000     0.000000  0.000000
3 Network Master Vault                   NaN          NaN       NaN
          Protection Vault               NaN          NaN       NaN
          Protocol Equity           0.000000     0.000000  0.000000
          Rewards Vault             0.000000     0.000000  0.000000

In [12]:
timestamp = 14 * 2
v3.deposit(tkn_name=tkn_name, tkn_amt='1000', user_name=user_name, timestamp=timestamp)
v3.describe(decimals=6)

                                         eth      link               tkn  \
1 Account Alice                          NaN       NaN  999998000.000000
2 Pool    a: TKN Staked Balance     0.000000  0.000000       2000.000000
          b: TKN Trading Liquidity  0.000000  0.000000          0.000000
          c: BNT Trading Liquidity  0.000000  0.000000          0.000000
          d: BNT Current Funding    0.000000  0.000000          0.000000
          e: Spot Rate              0.000000  0.000000          0.000000
          f: Average Rate           0.000000  0.000000          0.000000
          g: Average Inverse Rate   0.000000  0.000000          0.000000
3 Network Master Vault              0.000000  0.000000       2000.000000
          Protection Vault          0.000000  0.000000          0.000000
          Protocol Equity                NaN       NaN               NaN
          Rewards Vault                  NaN       NaN               NaN

                                        wbtc             bnt     bneth  \
1 Account Alice                          NaN  1000000.000000       NaN
2 Pool    a: TKN Staked Balance     0.000000             NaN  0.000000
          b: TKN Trading Liquidity  0.000000             NaN  0.000000
          c: BNT Trading Liquidity  0.000000             NaN  0.000000
          d: BNT Current Funding    0.000000             NaN  0.000000
          e: Spot Rate              0.000000             NaN  0.000000
          f: Average Rate           0.000000             NaN  0.000000
          g: Average Inverse Rate   0.000000             NaN  0.000000
3 Network Master Vault              0.000000             NaN       NaN
          Protection Vault          0.000000             NaN       NaN
          Protocol Equity                NaN             NaN  0.000000
          Rewards Vault                  NaN             NaN  0.000000

                                      bnlink        bntkn    bnwbtc
1 Account Alice                          NaN  2000.000000       NaN
2 Pool    a: TKN Staked Balance     0.000000     0.000000  0.000000
          b: TKN Trading Liquidity  0.000000     0.000000  0.000000
          c: BNT Trading Liquidity  0.000000     0.000000  0.000000
          d: BNT Current Funding    0.000000     0.000000  0.000000
          e: Spot Rate              0.000000     0.000000  0.000000
          f: Average Rate           0.000000     0.000000  0.000000
          g: Average Inverse Rate   0.000000     0.000000  0.000000
3 Network Master Vault                   NaN          NaN       NaN
          Protection Vault               NaN          NaN       NaN
          Protocol Equity           0.000000     0.000000  0.000000
          Rewards Vault             0.000000     0.000000  0.000000

### List the state history available for timetravel.

In [13]:
v3.backup_states

['initial_0', 'end_0', 'initial_14', 'initial_28']

### Revert to a historical state.

In [14]:
v3.revert_state('initial_28')
v3.describe(decimals=6)

                                         eth      link               tkn  \
1 Account Alice                          NaN       NaN  999999000.000000
2 Pool    a: TKN Staked Balance     0.000000  0.000000       1000.000000
          b: TKN Trading Liquidity  0.000000  0.000000          0.000000
          c: BNT Trading Liquidity  0.000000  0.000000          0.000000
          d: BNT Current Funding    0.000000  0.000000          0.000000
          e: Spot Rate              0.000000  0.000000          0.000000
          f: Average Rate           0.000000  0.000000          0.000000
          g: Average Inverse Rate   0.000000  0.000000          0.000000
3 Network Master Vault              0.000000  0.000000       1000.000000
          Protection Vault          0.000000  0.000000          0.000000
          Protocol Equity                NaN       NaN               NaN
          Rewards Vault                  NaN       NaN               NaN

                                        wbtc             bnt     bneth  \
1 Account Alice                          NaN  1000000.000000       NaN
2 Pool    a: TKN Staked Balance     0.000000             NaN  0.000000
          b: TKN Trading Liquidity  0.000000             NaN  0.000000
          c: BNT Trading Liquidity  0.000000             NaN  0.000000
          d: BNT Current Funding    0.000000             NaN  0.000000
          e: Spot Rate              0.000000             NaN  0.000000
          f: Average Rate           0.000000             NaN  0.000000
          g: Average Inverse Rate   0.000000             NaN  0.000000
3 Network Master Vault              0.000000             NaN       NaN
          Protection Vault          0.000000             NaN       NaN
          Protocol Equity                NaN             NaN  0.000000
          Rewards Vault                  NaN             NaN  0.000000

                                      bnlink        bntkn    bnwbtc
1 Account Alice                          NaN  1000.000000       NaN
2 Pool    a: TKN Staked Balance     0.000000     0.000000  0.000000
          b: TKN Trading Liquidity  0.000000     0.000000  0.000000
          c: BNT Trading Liquidity  0.000000     0.000000  0.000000
          d: BNT Current Funding    0.000000     0.000000  0.000000
          e: Spot Rate              0.000000     0.000000  0.000000
          f: Average Rate           0.000000     0.000000  0.000000
          g: Average Inverse Rate   0.000000     0.000000  0.000000
3 Network Master Vault                   NaN          NaN       NaN
          Protection Vault               NaN          NaN       NaN
          Protocol Equity           0.000000     0.000000  0.000000
          Rewards Vault             0.000000     0.000000  0.000000

### Note that the state timetravel history is still available, this time into a future state.

In [15]:
v3.backup_states

['initial_0', 'end_0', 'initial_14', 'initial_28']